<main class="container">
  <div class="header">
    <p>Chat</p>
    <button (click)="onLogout()" routerLinkActive="active" routerLink="">Logout</button>
  </div>
  <div class="box">
    <div class="overflow">
      <div id="message-list" *ngFor="let message of messageList">
        <app-message username="{{ getUsername(message) }}" name="{{ getName(message) }}" messageDate="{{ getMessageDate(message) }}" message="{{ getMessage(message) }}"
          url_img="{{ getUrlImg(message) }}"></app-message>
      </div>
    </div>
    <div class="send-message">
      <app-send-image></app-send-image>
    </div>
  </div>
</main>
